@{
    ViewData["Title"] = "Pristup odbijen";
}

<div class="text-center">
    <h1 class="text-danger">Pristup odbijen</h1>
    <p class="lead">Nemate dozvolu da pristupite traženoj stranici.</p>
    
        
  
</div>