@model Restoran.web.Models.Rezervacija

@{
    ViewData["Title"] = "Unos rezervacije";
}

<h2>Unos rezervacije</h2>

<form action="/Rezervacija/Create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label>Datum</label>
        <input name="Datum" type="datetime-local" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Vreme</label>
        <input name="Vreme" type="time" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Broj osoba</label>
        <input name="BrojOsoba" type="number" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Ime gosta</label>
        <input name="ImeGosta" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Prezime gosta</label>
        <input name="PrezimeGosta" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Broj stola</label>
        <select name="IDStola" class="form-control" asp-items="ViewBag.Stolovi"></select>
    </div>

    <button type="submit" class="btn btn-primary">Kreiraj rezervaciju</button>
    <a href="/Rezervacija/Index" class="btn btn-secondary">Back to List</a>
</form>