@model Restoran.web.Models.Rezervacija

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rezervacija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vreme" class="control-label"></label>
                <input asp-for="Vreme" class="form-control" />
                <span asp-validation-for="Vreme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojOsoba" class="control-label"></label>
                <input asp-for="BrojOsoba" class="form-control" />
                <span asp-validation-for="BrojOsoba" class="text-danger"></span>
            </div>
            <div class="form-group">
    <label>Ime gosta</label>
    <input name="ImeGosta" class="form-control" required />
</div>

<div class="form-group">
    <label>Prezime gosta</label>
    <input name="PrezimeGosta" class="form-control" required />
</div>
            <div class="form-group">
    <label>Broj stola</label>
    <select name="IDStola" class="form-control" asp-items="ViewBag.Stolovi"></select>
</div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
